<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Home</title>
</head>
<body>
    
    <!-- start navbar -->
    <nav>
        <dev class="logo">
            <img src="img/logo.png" width="123px" height="70px" alt="logo">
        </dev>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <dev class="profile">
            <img src="img/person.jpg" alt="profile">
        </dev>
    </nav>
    <!-- end navbar -->

    <section class="container">

        <!-- start carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/products/1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/products/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/products/3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <!-- end carousel -->

        <!-- start categories -->
        <div class="categories">
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
            <a href="#" class="category">
                <img src="img/test.png" alt="category name">
                <h4>category</h4>
            </a>
        </div>
        <!-- end categories -->

        <!-- last product -->
        <div class="last_product">
            <h3>Last Products</h3>
        </div>
        <!-- last product -->

        <!-- start products -->
        <div class="products">
            <div class="product-card">
                <img src="img/products/5.png" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/6.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/7.png" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/8.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/9.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/10.jpg" alt="">
            </div>
        </div>
        <!-- end products -->

    </section>

    <footer>
        <div class="foo_logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="footer-item">
            <h3>+0978978989</h3>
            <h3>+0987984213</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
        </div>
        <div class="footer-item">
            <h3>facebook</h3>
            <h3>twitter</h3>
            <h3>instegrame</h3>
            <h3>youtube</h3>
            <h3>linkedin</h3>
        </div>
        <div class="footer-item">
            <h3>Home</h3>
            <h3>Products</h3>
            <h3>Orders</h3>
            <h3>About</h3>
        </div>
        <div class="footer-item">
            <h3>aaa_support@gmail.com</h3>
            <h3>aaa_asks@gmail.com</h3>
            <h3>aaa_feedback@gmail.com</h3>
            <h3>aaa_teamwork@gmail.com</h3>
            <h3>aaa_community@gmail.com</h3>
        </div>
    </footer>

    <!-- javascript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>