<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Home</title>
</head>
<body>
    

    <section class="container">

        <div class="log_logo">
            <img src="img/_logo_.png" alt="">
        </div>

        <form action="#" method="post">
            <div class="row">
                <label for="usernamae">Username</label>
                <input type="text" id="username">
            </div>
            <div class="row">
                <label for="usernamae">Username</label>
                <input type="text" id="username">
            </div>
            <button>Login</button>
        </form>

    </section>

    <footer>
        <div class="foo_logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="footer-item">
            <h3>+0978978989</h3>
            <h3>+0987984213</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
        </div>
        <div class="footer-item">
            <h3>facebook</h3>
            <h3>twitter</h3>
            <h3>instegrame</h3>
            <h3>youtube</h3>
            <h3>linkedin</h3>
        </div>
        <div class="footer-item">
            <h3>Home</h3>
            <h3>Products</h3>
            <h3>Orders</h3>
            <h3>About</h3>
        </div>
        <div class="footer-item">
            <h3>aaa_support@gmail.com</h3>
            <h3>aaa_asks@gmail.com</h3>
            <h3>aaa_feedback@gmail.com</h3>
            <h3>aaa_teamwork@gmail.com</h3>
            <h3>aaa_community@gmail.com</h3>
        </div>
    </footer>

    <!-- javascript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>