<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Home</title>
</head>
<body>
    
    <!-- start navbar -->
    <nav>
        <dev class="logo">
            <img src="img/logo.png" width="123px" height="70px" alt="logo">
        </dev>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <dev class="profile">
            <img src="img/person.jpg" alt="profile">
        </dev>
    </nav>
    <!-- end navbar -->

    <section class="container">


        <!-- start product details -->
       <div class="product-details">
        <div class="images">
            <div class="main-image">
                <img src="img/products/1.jpg" alt="">
            </div>
            <div class="other-image">
                <div class="item">
                    <img src="img/products/1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="img/products/1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="img/products/1.jpg" alt="">
                </div>
                <div class="item">
                    <img src="img/products/1.jpg" alt="">
                </div>
            </div>
            <a href="#" class="add-card">
                <img src="img/test.png" alt="category name">
                <h3>add to card</h3>
            </a>
        </div>
        <div class="details">
            <h3 class="title">Product Name</h3>
            <select name="" id="">
                <option value=""></option>
            </select>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum mollitia voluptas ut obcaecati, eaque, ducimus esse praesentium non temporibus necessitatibus modi repellat molestias, omnis delectus? Id, magnam quae neque sed quidem ipsa debitis ratione aut necessitatibus. Officia magnam veniam dicta tenetur ea? Ab corporis doloremque atque quia cumque, voluptates blanditiis perferendis perspiciatis quod esse rerum molestias eveniet repudiandae quisquam ipsa? Vel amet dolore excepturi voluptatum molestias autem nemo ullam cumque magnam dolor officia optio aspernatur, debitis dignissimos assumenda voluptatibus ipsam mollitia ipsa nulla. Reprehenderit hic mollitia quasi? Nobis iure laborum, consectetur distinctio laboriosam quos animi soluta eius sequi, earum ex!
            </p>
            <div class="price">
                <h3>$15.26</h3>
            </div>
            <div class="discount">
                <del>$25.00</del>
            </div>
        </div>
       </div>
       <!-- end product details -->

       <!-- start products -->
        <div class="products">
            <div class="product-card">
                <img src="img/products/5.png" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/6.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/7.png" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/8.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/9.jpg" alt="">
            </div>
            <div class="product-card">
                <img src="img/products/10.jpg" alt="">
            </div>
        </div>
        <!-- end products -->
        

    </section>

    <footer>
        <div class="foo_logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="footer-item">
            <h3>+0978978989</h3>
            <h3>+0987984213</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
        </div>
        <div class="footer-item">
            <h3>facebook</h3>
            <h3>twitter</h3>
            <h3>instegrame</h3>
            <h3>youtube</h3>
            <h3>linkedin</h3>
        </div>
        <div class="footer-item">
            <h3>Home</h3>
            <h3>Products</h3>
            <h3>Orders</h3>
            <h3>About</h3>
        </div>
        <div class="footer-item">
            <h3>aaa_support@gmail.com</h3>
            <h3>aaa_asks@gmail.com</h3>
            <h3>aaa_feedback@gmail.com</h3>
            <h3>aaa_teamwork@gmail.com</h3>
            <h3>aaa_community@gmail.com</h3>
        </div>
    </footer>

    <!-- javascript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>