<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Home</title>
</head>
<body>
    
    <!-- start navbar -->
    <nav>
        <dev class="logo">
            <img src="img/logo.png" width="123px" height="70px" alt="logo">
        </dev>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <dev class="profile">
            <img src="img/person.jpg" alt="profile">
        </dev>
    </nav>
    <!-- end navbar -->

    <section class="container_fload">

        <div class="picture">
            <img src="img/person.jpg" alt="">
        </div>

        <form action="#" method="post">
            <div class="row">
                <label for="fname">First Name</label>
                <input type="text" id="fname">
            </div>
            <div class="row">
                <label for="lname">Last Name</label>
                <input type="text" id="lname">
            </div>
            <div class="row">
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday">
            </div>
            <div class="row">
                <label for="email">E-mail</label>
                <input type="text" id="email">
            </div>
            <div class="row">
                <label for="phone1">Phone one</label>
                <input type="text" id="phone1">
            </div>
            <div class="row">
                <label for="phone2">Phone two</label>
                <input type="text" id="phone2">
            </div>
            <div class="row">
                <label for="governorate">Governorate</label>
                <input type="text" id="governorate">
            </div>
            <div class="row">
                <label for="city">City</label>
                <input type="text" id="city">
            </div>
            <div class="row">
                <label for="soa">Street / area</label>
                <input type="text" id="soa">
            </div>
            <div class="row">
                <label for="homeno">Home no</label>
                <input type="text" id="homeno">
            </div>
            <div class="row">
                <label for="floor">Floor</label>
                <input type="text" id="floor">
            </div>
            <div class="row">
                <label for="username">Username</label>
                <input type="text" id="username">
            </div>

            <div class="row">
                <label for="password">Password</label>
                <input type="text" id="password">
            </div>
        </form>

        <div class="group-buttons">
            <button>Update</button>
            <button>Change Password</button>
            <button>Logout</button>
        </div>

    </section>

    <footer>
        <div class="foo_logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="footer-item">
            <h3>+0978978989</h3>
            <h3>+0987984213</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
            <h3>+0978526454</h3>
        </div>
        <div class="footer-item">
            <h3>facebook</h3>
            <h3>twitter</h3>
            <h3>instegrame</h3>
            <h3>youtube</h3>
            <h3>linkedin</h3>
        </div>
        <div class="footer-item">
            <h3>Home</h3>
            <h3>Products</h3>
            <h3>Orders</h3>
            <h3>About</h3>
        </div>
        <div class="footer-item">
            <h3>aaa_support@gmail.com</h3>
            <h3>aaa_asks@gmail.com</h3>
            <h3>aaa_feedback@gmail.com</h3>
            <h3>aaa_teamwork@gmail.com</h3>
            <h3>aaa_community@gmail.com</h3>
        </div>
    </footer>

    <!-- javascript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>